KEYGEN_EDITION=CE
KEYGEN_MODE=singleplayer
KEYGEN_HOST=
KEYGEN_ACCOUNT_ID=
KEYGEN_ADMIN_EMAIL=
KEYGEN_ADMIN_PASSWORD=
DATABASE_URL=
SECRET_KEY_BASE=
ENCRYPTION_DETERMINISTIC_KEY=
ENCRYPTION_PRIMARY_KEY=
ENCRYPTION_KEY_DERIVATION_SALT=
